* {
    margin:0;
    padding: 0;
}

html,body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  
}

#logo {
    font-family: 'Montserrat', Times, serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: weight;
    line-height: 100px;
    font-style: normal;
    font-optical-sizing: auto;
    float:left
}

.yellow {
    color: rgb(35, 32, 240);
}

header, main, footer {
    width: 1040px;
    margin: 0 auto;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
}

header{
    height:120px;    
}

main{
    padding-bottom: 100px;
}

main h1 {
    text-transform: uppercase;
}

footer {   
    margin: 100px auto 0;
    position: relative;
    height: 100px;
}

body {
    background-color: rgb(38, 5, 59);
    color: white;
}

.main_img-float {
    width: 550px;
    float: left;
    margin-right: 40px;
    border: 2px solid rgb(66, 80, 204);
    border-radius: 20px;
    height: 350px;
}

.panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover;
}

.services_img {
    width: 240px;
    border: dashed 2px rgb(0, 255, 170);
    border-radius: 20px;
}

.services_item {
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}

.services {
    padding: 35px;
    /*border: 5px solid white;*/
}

.orange {
    color: rgb(255, 166, 0);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.h1--invisible {
    visibility: hidden;
}

.main2 {
    text-align: justify;
    padding-left: 550px;
}

.h-con {
    color: white;
}

.main2-img {
    width: 500px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 15px black;
}

.main2 p {
    max-width: 500px;
}

.m-kon {
    text-align: center;
    max-width: 250px;
}

.m-kon h2 {
    font-weight: normal;
    font-size: 25px;
    text-transform: uppercase;
}

.m-kon {
    font-size: 20px;
}

.otzivi-img {
    width: 100%;
    height: 500px;
    background: url(../img/c22e1385.png) no-repeat center 70%;
    background-size: cover;
}

.k1 {
    width: 200px;
    height: 200px;
    border: dotted 3px rgb(0, 0, 0);
    border-radius: 100%;
}

.k2 {
    width: 200px;
    height: 200px;
    border: dotted 3px rgb(0, 0, 0);
    border-radius: 100%;
}

.k3 {
    width: 200px;
    height: 200px;
    border: dotted 3px rgb(0, 0, 0);
    border-radius: 100%;
}

.footer_block {
    display: inline-block;
    width: 335px;
    text-transform: uppercase;
    text-align: center;
}

.footer_icons {
    display: inline-block;
    width: 335px;
    text-align: right;
    margin-left: 10px;
}

.footer_img {
    width: 50px;
}
#mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#mainnav li{
    display: inline;
}
#mainnav a {
    text-decoration: none;
}
#mainnav a:hover{
    text-decoration: underline;
}
#mainnav li.active a{
    font-weight: bold;
}
.footer_block {
    text-align: center;
}
table{
    border: 5px solid #9961b3;
    border-collapse: collapse;
    width: 100%;
    max-width: 1075px;
    margin: 0 auto;

}
tr:nth-child(even) {
    background-color: rgba(0, 192, 176, 0.281);
}

td,th {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

tr {
    border: 2px solid white;
}
table {
    border: 5px solid rgb(98, 21, 174);
    border-collapse: collapse;
    width: 1400px;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: rgba(0, 192, 176, 0.281);
}

td,th {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

tr {
    border: 2px solid white;
}
.price th:first-child {
    width: 10%;
}

.price th:nth-child(2), .price th:last-child {
    width: 25%;
}
.main2 {
    text-align: justify;
    padding-left: 550px;
}

#com {
    text-align: center;
    padding-right: 550px;
}

.h-con {
    color: white;
}

.main2-img {
    width: 500px;
    border: solid 2px rgb(255, 0, 0);
    border-radius: 20px;
    box-shadow: 0 0 15px black;
}

.main2 p {
    max-width: 500px;
}

.m-kon {
    text-align: center;
    max-width: 250px;
}

.m-kon h2 {
    font-weight: normal;
    font-size: 25px;
    text-transform: uppercase;
}

.m-kon {
    font-size: 20px;
}

.otzivi-img {
    width: 100%;
    height: 500px;
    background: url(../img/c22e1385.png) no-repeat center 70%;
    background-size: cover;
}

.k1 {
    width: 200px;
    height: 200px;
    border: dotted 3px rgb(92, 44, 221);
    border-radius: 100%;
}

.k2 {
    width: 200px;
    height: 200px;
    border: dotted 3px rgb(71, 19, 204);
    border-radius: 100%;
}

.k3 {
    width: 200px;
    height: 200px;
    border: dotted 3px rgb(44, 11, 162);
    border-radius: 100%;
}

.footer_block {
    display: inline-block;
    width: 335px;
    text-transform: uppercase;
    text-align: center;
}

.footer_icons {
    display: inline-block;
    width: 335px;
    text-align: right;
    margin-left: 10px;
}

.footer_img {
    width: 50px;
}

#topic {
    color: rgb(98, 0, 255);
    border: rgb(153, 0, 255) solid 2px;
    background-color: rgb(95, 167, 212);
    color: rgb(69, 2, 238);
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: center  ;
    border-radius: 10px;
    padding: 5px;
    width: 265px;
}

#contact-form input[type="text"] {
    color: rgb(98, 0, 255);
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: rgb(98, 0, 255) solid 2px;
    background-color: rgb(102, 24, 37);
}

#contact-form input[type="email"] {
    color: rgb(98, 0, 255);
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: rgb(98, 0, 255) solid 2px;
    background-color: pink;
}

#contact-form input[type="tel"] {
    color: rgb(98, 0, 255);
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: rgb(98, 0, 255) solid 2px;
    background-color: pink;
}

#name {
    width: 200px;
    color: pink;
}

#contact-form input[id="text"] {
    width: 300px;
    height: 150px;
}

#contact-form input[type="submit"] {
    border-radius: 10px;
    border: rgb(98, 0, 255) solid 2px;
    background-color: rgb(98, 0, 255);
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    color: pink;
}

#contact-form input[type="submit"]:hover {
    background: linear-gradient(0deg, rgb(98, 0, 255), rgb(38, 0, 255))
}

#napn {
    text-decoration: none;
    color: white;
}

.index_footer{
    margin: 440px 0px 0px 0px;
}
.kontakti_footer {  
    margin: 315px 0px 200px 440px;
}

.obsvas_footer {
    margin: 155px 0px 0px 440px;
}
#mainnav ul {
    margin: 0;
    padding-left: 0;
}

#mainnav li {
    display: inline;
}

#mainnav a {
    opacity: 0.6;
    text-decoration: none;
    line-height: 103px;
    margin: 0px 30px;
    padding: 0px 30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#mainnav li.active a {
    font-weight: bold;
    opacity: 1;
}

#mainnav a:hover {
    text-decoration: underline;
}
.index_footer{
    margin: 440px 0px 0px 0px;}